@model DocSpin2.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="row">
    <div class="col-md-6">
        <h4>Document</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TsCreated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TsCreated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TsModified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TsModified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsRemoved)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsRemoved)
            </dd>
            <dt>
                @Html.Label("File versions")
            </dt>
            @foreach (var item in Model.Versions)
                {
                    <dd>
                            @Html.ActionLink(item.OriginalFilename, "FileDownload", "Documents", new { id = item.Id }, null)
                            @Html.DisplayFor(model => item.FileTimestamp)
                       @if (Model.Repository.IsSupervisor)
                       { <a href="@Url.Action("DeleteFile", "Documents", new { id = item.Id })"><img src="@Url.Content("/Content/delete.gif")" />
                        </a>
                       }
                    </dd>
              }
        </dl>
        <p>
			@if (Model.Repository.IsSupervisor)
			{
				@Html.ActionLink("ACL", "Details", "ACLs", new { id = Model.Id, type = "Document" }, null)
				<br />
			}
			@if (DocSpin2.Util.ObjectAuth.DocumentAction(Model.Id, DocSpin2.Models.AccessControlSetting.Write) == null)
			{
	            @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
				<br />
			}
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <div class="col-md-4">
        <h4>Comments</h4>
        <hr />

        @foreach (var item in Model.Comments)
        {
            @Html.Label("Autor: ")
			@Html.DisplayFor(model => item.Author.FullName)
            @Html.DisplayFor(model => item.Timestamp)<br />
            @Html.DisplayFor(model => item.Content)<hr>
        }

        <div id="messages"></div>
        @using (Ajax.BeginForm("Chat", new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.InsertAfter,
            UpdateTargetId = "messages"
        }))
        {
            @Html.TextArea("msg", new { rows = "3", cols = "80" })<br />
            @Html.Hidden("docId", Model.Id)
            <input type="submit" value="Send" />
        }
    </div>
</div>