@model DocSpin2.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Document</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TsCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TsCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TsModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TsModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRemoved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRemoved)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
