@model DocSpin2.Models.AccessControlSetting?
@using DocSpin2.Models
@{
	var acsarray = new[] {
		AccessControlSetting.Read,
		AccessControlSetting.Comment,
		AccessControlSetting.Write,
		AccessControlSetting.SupervisorOnly
	};
	AccessControlSetting fmodel = Model ?? AccessControlSetting.None;
}
<div class="form-group">
	@Html.LabelForModel("Access for item", htmlAttributes: new { @class = "control-label col-md-2" })
	<div class="col-lg-5">
		@foreach (AccessControlSetting acs in acsarray)
		{
			<div class="input-group-sm @(acs == AccessControlSetting.SupervisorOnly ? "col-xs-6" : "col-xs-4")">
				<div class="input-group-addon col-xs-1">
					@if (acs != AccessControlSetting.SupervisorOnly)
					{
						@Html.RadioButton("ACS", (int)acs, (Model != null && ((fmodel & acs) == fmodel)))
					}
					else
					{ 
						@Html.CheckBox("ACS", (Model != null && fmodel.HasFlag(acs)), new { @value = (int)acs })
					}
				</div>
				<div class="input-group-addon">
					@if (acs == AccessControlSetting.Comment || acs == AccessControlSetting.Write)
					{ 
						@Html.Raw("+&nbsp;")
					}
					@Html.Raw(AccessControlSettingHelper.DescribeSingle(acs))
				</div>
			</div>
		}
	</div>
</div>
