@model DocSpin2.Models.AccessControlSetting?
@using DocSpin2.Models

<div class="form-group">
	@Html.LabelForModel("Access for item", htmlAttributes: new { @class = "control-label col-md-2" })
	<div class="col-lg-5">
		@foreach (AccessControlSetting acs in Enum.GetValues(typeof(AccessControlSetting)))
		{
			<div class="input-group-sm @(acs == AccessControlSetting.SupervisorOnly ? "col-xs-6" : "col-xs-4")">
				<div class="input-group-addon col-xs-1">
					@if (acs != AccessControlSetting.SupervisorOnly)
					{ 
						@Html.RadioButton("ACS", (Model != null && ((AccessControlSetting)Model).HasFlag(acs)), new { @value = (int)acs })
					}
					else
					{ 
						@Html.CheckBox("ACS", (Model != null && ((AccessControlSetting)Model).HasFlag(acs)), new { @value = (int)acs })
					}
				</div>
				<div class="input-group-addon">
					@Html.Raw(AccessControlSettingHelper.DescribeSingle(acs))
				</div>
			</div>
		}
	</div>
</div>
