@model docspin.Models.CreateRepository

@{
    ViewBag.Title = "Add new repository";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Log in Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </li>
            </ol>
            <input type="submit" value="Create" />
        </fieldset>

    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}








